# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local env files
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
